<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="" href="../static/images/code-slash.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Portfólio do Gui</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/images/Guilherme_rec.jpg" alt="Foto do Guilherme">
            <h1>Guilherme Ferreira</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/guimontenegro">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/MF-Guilherme">
                    <i class="bi bi-github"></i>
                </a>
            </div>
        </section>
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"> </i>Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Guilherme Ferreira</h2>
                <span id="subtitle" class="text-white text-shadow">Desenvolvedor Python / C# (Estudante)</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <a href="#sobre"><i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i></a>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Em transição de carreira.</p>
                    <p>
                        Profissional com excelentes conhecimentos na área de Atendimento ao Cliente <strong>em busca de
                            novas oportunidades na área de Tecnologia e Desenvolvimento</strong>, atuando com
                        atividades de atendimento (pós-venda), análise e elaboração de projetos gráficos, follow-up
                        diário da produção, condução e participação de reuniões, análise do consumo de insumo, bem como
                        a elaboração de relatórios.
                    </p>
                    <p>
                        Capacidade de atuação no desenvolvimento de softwares podendo esses serem websites, programas de
                        computador pessoais e/ou empresariais, redes sociais, aplicativos e
                        outros dispositivos, com a utilização de diferentes linguagens.
                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/images/Guilherme.jpg" alt="Foto do Guilherme"
                        data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Analista de Atendimento ao Cliente</h3>
                    <p>Atualmente atuo no Atendimento ao Cliente (pós-vendas), elaborando e analisando projetos gráficos
                        a fim de desenvolver o produto ideal para o cliente.</p>
                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Niver: <span class="fw-lighter">05 de Julho de 1991</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">31 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">São Paulo</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">São Paulo</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter">Jiu-Jitsu</span>
                                </li>
                                <li class="list-group-item">
                                    Estudando: <span class="fw-lighter">Dev Web (Python / C#)</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <p>Além de estudar desenvolvimento web, eu gosto de colocar em prática meus
                        conhecimentos desenvolvendo automações de tarefas para atividades repetitivas tanto minhas
                        quanto dos meus companheiros de setor.</p>
                </div>
            </div>

        </section>

        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Em todo meu período como profissional e como estudante desenvolvi diversas habilidades
                    técnicas e não técnicas, e a maioria delas estão aqui, de acordo com a porcentagem de conhecimento
                    que
                    eu acredito possuir em casa uma delas:</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 62%;"
                                aria-valuenow="62" aria-valuemin="0" aria-valuemax="100">62%</div>
                        </div>
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 45%;"
                                aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                        </div>
                        <p class="mt-3 mb-0">Django</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 33%;"
                                aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">33%</div>
                        </div>
                        <p class="mt-3 mb-0">C#</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 60%;"
                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                        <p class="mt-3 mb-0">Sql</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 55%;"
                                aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 60%;"
                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                        <p class="mt-3 mb-0">Deploy</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 35%;"
                                aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
                        </div>
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 60%;"
                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 55%;"
                                aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 50%;"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 90%;"
                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                        <p class="mt-3 mb-0">Orientação a detalhes</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 92%;"
                                aria-valuenow="92" aria-valuemin="0" aria-valuemax="100">92%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 87%;"
                                aria-valuenow="87" aria-valuemin="0" aria-valuemax="100">87%</div>
                        </div>
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 90%;"
                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 100%;"
                                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo reduzido</h2>

                <div class="row">

                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Analista de Atendimento ao Cliente</h4>
                            <h5>2018 - atual</h5>
                            <p><em>Plural Indústria Gráfica</em></p>
                            <p>• Responsável pelos procedimentos de pós-vendas com os clientes, elaboração e análise de
                                projetos gráficos, acompanhamento de embalagens e desperdícios na produção de cada
                                produto. <br>
                                • Desenvolvimento de ordens de produção para os setores, negociação de prazos e
                                elaboração de cronogramas de fechamento de arquivo, entrega do produto e follow-up
                                diário de produção. <br>
                                • Ministração de reuniões internas visando apresentação dos produtos e alinhamentos
                                relacionados a produtividade de cada produto, bem como a criação de preços para a
                                geração de orçamentos. <br>
                                <i class="bi bi-trophy-fill"> </i>Participação no estudo de desenvolvimento de
                                automatização de aplicação de essências olfativas em impressoras rotativas, ampliando em
                                60% a capacidade de aplicações em uma revista. <br>
                                <i class="bi bi-trophy-fill"> </i>Redução de 15% da necessidade de mão de obra e 20% nos
                                desperdícios de papel na produção..
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Assistente de Atendimento ao Cliente</h4>
                            <h5>2016 - 2018</h5>
                            <p><em>Plural Indústria Gráfica</em></p>
                            <p>• Prestação de suporte aos Analistas de Atendimento ao Cliente com tarefas
                                administrativas,
                                circulação de ordens de produção, acompanhamento e suporte no fechamento e envio de
                                arquivos em geral. <br>
                                • Responsável pelo acompanhamento diário de produção, realização de feedback aos
                                clientes quanto a entrega dos produtos e desenvolvimento de relatórios gerenciais e
                                planilhas com indicadores do setor.</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Estagiário em Segurança do Trabalho</h4>
                            <h5>2015 - 2016</h5>
                            <p><em>L'Oréal Brasil</em></p>
                            <p>• Atuação na gestão e acompanhamento de segurança do trabalho de 10 empresas
                                terceirizadas fixas da empresa, fiscalizando atividades de obras em geral, cozinha,
                                segurança patrimonial, limpeza, manutenção predial, transportadora de cargas,
                                ambulatório e fabricação de recipientes. <br>
                                • Realização de integração semanal de novos funcionários efetivos e colaboradores
                                terceirizados.</p>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Sup. Análise e Desenvolvimento de Sistemas</h4>
                            <h5>jan/2022 - jun/2024</h5>
                            <p><em>IMPACTA - Faculdade de Tecnologia</em></p>
                            <p>Graduação em Tecnologia da Informação focada no desenvolvimento de sistemas / sites. <br>
                                Até este momento foi possível adquirir conhecimentos sólidos em importantes fundamentos
                                como: <br>
                                • Lógica de programação; <br>
                                • Linguagens de programação (Python e C#); <br>
                                • POO; <br>
                                • Banco de Dados; <br>
                                • Desenvolvimento Web; <br>
                                • Engenharia de Software; <br>
                                • DevOps; <br>
                                • Metodologias Ágeis; <br>
                                • RPA; <br>
                                • Testes de software; <br>
                                • Soft Skills entre outros.</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Curso: Python Impressionador</h4>
                            <h5>2022-2023</h5>
                            <p><em>Hashtag Treinamentos</em></p>
                            <p>Curso com diversos conteúdos relacionados à linguagem de programação Python. Com ele foi
                                possível adquirir uma excelente base sobre as principais funcionalidades do Python na
                                atualidade, como por exemplo: <br>
                                • Orientação a objetos; <br>
                                • Análise dados; <br>
                                • Web Scraping; <br>
                                • Desenvolvimento Web (Flask e Django); <br>
                                • Automatização de tarefas; <br>
                                • Desenvolvimento de APIs; <br>
                                • Integração com bases de dados entre outros. <br>
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Curso: Linguagem de Programação C# Avançado</h4>
                            <h5>2021</h5>
                            <p><em>Fundação Bradesco</em></p>
                            <p>Curso de aprofundamento na linguagem de programação C#, com foco na integração de
                                sistemas desktop com o banco de dados SQL Server.</p>
                        </div>

                    </div>
                </div>
            </div>

        </section>

        <section id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">

                <h2 class="pb-4">Portfólio</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="5000">

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/Images/ComunidadeAA.PNG" class="card-img-top"
                                            alt="Print de posts do site">
                                        <div class="card-body">
                                            <h5 class="card-title">Site Comunidade</h5>
                                            <p class="card-text">Projeto fullstack criado com Python, Flask e
                                                PostgreSql,
                                                área de login e acesso apenas para usuários. Deploy realizado no
                                                Railway.
                                                <br>
                                                <br>
                                            </p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/MF-Guilherme/SiteComunidade" target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                <a href="https://sitecomunidade.up.railway.app/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/Images/portfolio.png" class="card-img-top img-fluid w-100"
                                            alt="print da tela inicial do portfolio">
                                        <div class="card-body">
                                            <h5 class="card-title">Portfólio Pessoal</h5>
                                            <p class="card-text">Projeto Python criado com Flask, Bootstrap, HTML, CSS e
                                                JavaScript
                                                deploy realizado no Heroku
                                                <br>
                                                <br>
                                                <br>
                                            </p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/MF-Guilherme/MeuPortfolio" target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                <a href="https://guiportfolio.herokuapp.com/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/Images/pokedex.png" class="card-img-top img-fluid w-100"
                                            alt="print da pokedex">
                                        <div class="card-body">
                                            <h5 class="card-title">Pokédex</h5>
                                            <p class="card-text">Projeto desktop em construção com Python e Tkinter, a
                                                princípio
                                                utilizando dados aleatórios. A ideia é fazer um upgrade no projeto para
                                                que ele carregue as informações diretamente de uma API. </p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/MF-Guilherme/Pokedex" target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="carousel-item" data-bs-interval="5000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/Images/tela-cadastro-csharp.png"
                                            class="card-img-top img-fluid w-100"
                                            alt="print da tela de cadastro de clientes">
                                        <div class="card-body">
                                            <h5 class="card-title">Tela de cadastros Desktop</h5>
                                            <p class="card-text">Projeto C# para prática de telas de cadastros em geral.
                                                CRUD completo com SQL Server. Interface Desktop com Windows Forms.
                                                <br>
                                                <br>
                                            </p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/MF-Guilherme/ProjetoEmpresa" target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/Images/cadastro-web.jpg"
                                            class="card-img-top img-fluid w-100"
                                            alt="print da tela de cadastro de clientes">
                                        <div class="card-body">
                                            <h5 class="card-title">Tela de cadastros Web</h5>
                                            <p class="card-text">Interface Web do Projeto C# de cadastros Desktop,
                                                utilizando o mesmo banco de dados local, com ASP.Net, Bootstrap e Razor
                                                Template Engine.
                                                <br>
                                                <br>
                                            </p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/MF-Guilherme/ProjetoEmpresa" target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
        </section>

        <section class="pt-5 pb-5" id="contato">

            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">

                            <div class="whatsapp">
                                <a target="_blank" href="https://wa.me/5511948455717">
                                    <h4>
                                        <i class="bi bi-whatsapp"></i> Me chama!
                                    </h4>
                                    <p> Clique aqui e mande uma mensagem no whatsapp</p>
                                </a>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>guimontenegro23@yahoo.com.br</p>
                            </div>

                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i>Localização:</h4>
                                <p>Sao Paulo, SP</p>
                            </div>                            

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3659.3172640021776!2d-46.74305188439175!3d-23.485079364666174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef9339ac08df9%3A0x387ec834a3dc7728!2sAv.%20Mutinga%20-%20Vila%20Pirituba%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2002675-031!5e0!3m2!1spt-BR!2sbr!4v1677611876472!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">
                            <h4>Você pode me mandar um e-mail diretamente por aqui:</h4>
                            <form class="row g-3" action="/send" method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name="nome"
                                        placeholder="Digite seu nome" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Digite seu email" required>
                                </div>
                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem:</label>
                                    <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10"
                                        placeholder="Digite sua mensagem" required></textarea>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id="btn-enviar" type="submit" class="btn btn-primary">Enviar
                                        mensagem</button>

                                    <button id="btn-enviar-loader" class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Enviando...
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>Guilherme M. Ferreira</strong>
            </div>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>